*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    background-color: rgb(4, 4, 59);
    margin-right: 20vw;
    margin-left: 12vw;
    margin-top: 10vh;
    align-items: center;
   
}

header{
    font-size: 40px;
    color: rgb(195,76,32);
}
.grid-container{
    display: grid;
    grid-gap:10px;
    grid-template-areas: 'red-box red-box red-box red-box  yellow-box yellow-box '
    'green-box green-box green-box blue-box blue-box blue-box'
    'green-box green-box green-box blue-box2 blue-box2 blue-box2' ;
    
}
.red-box{
    grid-area: red-box;
    background-color: rgb(235, 102, 54);
    height: 35vh;
  
}
.yellow-box{
    grid-area: yellow-box;
    background-color: rgb(239, 198, 12);
   
}
.green-box{
    grid-area: green-box;
    background-color: rgb(6, 143, 6);
    height: 45vh;
}
.blue-box{
    grid-area: blue-box;
    background-color: rgb(13, 175, 204);
   
}
.blue-box2{
    grid-area: blue-box2;
    background-color: rgb(13, 175, 204);
}